html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* جعل الخلفية متدرجة */
body {
  background: #000000; /* fallback للمتصفحات القديمة */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  color: #fff; /* في حال أردت النص باللون الأبيض للتباين */
}
